<%if !current_user.nil? %>
  <div class="current_user">
    <div class="username">
      Current USER: <b><%= current_user.email %></b>
    </div>
    <div class="logout">
      <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: 'btn-nav-right') %>
    </div>
  </div>
<%end%>