<p>В день 45-летия города Одинцово, в 2002 году, в Ледовом Дворце, Митрополит Крутицкий и Коломенский Ювеналий
  обратился к присутствующим в зале: «Одинцовский район – это яркий бриллиант в короне Подмосковья, но, к сожалению, в
  городе Одинцово нет Собора. Давайте поручим Александру Георгиевичу Гладышеву построить его». Народ дружно воскликнул:
  «Поручим!». Проект храма разрабатывался главным архитектором Одинцовского района Ганкиным Валентином Григорьевичем.
  Строительством занимался Михаил Михайлович Панов. Величавость храма – его заслуга. 7 августа 2004 Одинцовцы принимали
  высоких гостей: губернатора Московской области Бориса Всеволодовича Громова и полномочного представителя президента в
  Центральном ФО Георгия Сергеевича Полтавченко, приехавших на закладку нового храма в честь великомученика Георгия,
  которую возглавил Митрополит Ювеналий. Этот храм должен был стать одним из самых красивых и просторных, а точнее
  сказать грандиозных храмов не только Одинцовского района, но и всего Подмосковья. Многие жители Одинцовского района
  приняли участие в его строительстве. И вот, 9 сентября 2007 года, в день 50-летия г. Одинцово двери храма
  распахнулись для всех желающих принять участие в великом освящении и первой литургии, которую возглавил святейший
  патриарх Алексий II. Три этажа храма не смогли вместить всех тех, кто пришел в этот день на службу, многие
  разместились на площади перед собором. Величие храма и богослужения поразили всех присутствовавших. В конце
  богослужения патриарх Алексий II объявил, что присваивает этому храму особый, высокий статус Собора, то есть одного
  из центральных храмов Подмосковья. В этом году собор святого великомученика Георгия Победоносца отметит пятилетнюю
  годовщину с момента своего освящения 9 сентября 2007 году. За это время собор стал одним из самых любимых и значимых
  храмов нашего района. Его торжественная красота поражает и внешним, и внутренним убранством Нижний этаж, где
  находится крестильный храм, проектировал и строил архитектор Анисимов. Иконы нижнего придела написаны также в
  мастерской Анисимова. На этом этаже всё сделано в Византийском стиле из натурального белого камня. Оригинальное
  устройство воскресной школы (полукругом) и крестильни для взрослых спроектировано Валентином Григорьевичем Ганкиным.
  Иконостас среднего этажа собора исполнен в стиле Дионисия. Верхний этаж исполнен в стилях барокко и ампир. Полы
  делались мастерами из Индии (камень, так же был привезён из Индии). Иконостас верхнего этажа Собора проектировался и
  создавался мастерами в Палехе. Витражи на окнах третьего этажа – это авторская работа. Они изготовлены по уникальной
  методике восстановления – это настоящий сплав, а не рисованные картины, как может показаться на первый взгляд. За три
  года в соборе великомученика Георгия Победоносца появилось много святынь: частички мощей Георгия Победоносца,
  мученицы Татианы, преподобного Александра Свирского, который сподобился, подобно ветхозаветному патриарху Аврааму,
  явления Пресвятой Троицы в виде трех Ангелов; великомученика и целителя Пантелеимона, блаженной старицы Матроны
  Московской, преподобного Антония Оптинского. Большинство икон, располагающихся в семи пределах Собора, написаны на
  Святой Горе Афон, в Греции. Также, по милости Божией, в соборе великомученика Георгия Победоносца находится
  единственная в районе и написанная специального для собора икона Hовомученников Одинцовских.</p>
<p>Развивается и приходская жизнь: открыта Воскресная школа, и она действует не только для детей. Родители могут также
  остаться на беседы со священником, пока их дети занимаются в классах. Существуют различные кружки для маленьких
  прихожан: вышивания, бисероплетения, рисования, пения. В течение богослужебного года на большие праздники, такие как
  Рождество, Пасха, день памяти св. Кирилла и Мефодия силами родителей и учеников воскресной школы ставятся сценки,
  спектакли.</p>
<p>Словом сказать, собор великомученика Георгия за прошедшие годы стал одним из духовных центров города. Множество
  людей стекаются на воскресное богослужение под стройный звон колоколов, а уж сколько народа собирается во время служб
  на Пасху и Рождество! На ночные службы невозможно войти: храм полон людьми, желающими помолиться и встретить праздник
  в этом величественном храме.</p>
<p>Мы верим, что собор во имя Великомученика Георгия Победоносца будет и дальше пополняться новыми святынями и новыми
  людьми, ощутившими в своем сердце зажегшийся огонек Веры.</p>