<% content_for :maintag do %>
  id='mainpage'
<% end %>
<article class="">
  <h1 style="color: #a0433e;">Георгиевский собор</h1>
  <h2><i class="fa fa-map-marker"></i> г. Одинцово, Можайское шоссе 57</p>
    <h2><a href="tel: +74955679075"><i class="fa fa-phone"></i> 8 (495) 567-90-75</a></h2>
</article>
<section class="calendar" data-behavior="vue">
  <calendar :mdays="<%=@calendar.to_json %>"></calendar>
</section>