<div style="text-align: justify;">
  <h2>
    <b>
      <span>Общая информация</span></b></h2>
  <p>
    <span>
      С 2009 года при Георгиевском Соборе действует воскресная школа. Учителями и
      наставниками детей являются опытные педагоги, большинство из которых
      закончилимиссионерско-катехизаторские курсы.</p>
  <p>
    <span>
      Директором воскресной школы ныне является клирик Георгиевского собора священник
      Александр Красильников.</span></p>
  <p>
    <span>
      Деятельность воскресной школы начиналась с трех групп. Сейчас школа разрослась
      до 8 детских групп, включающих дошкольную, основную и старшую ступени,действует
      1 группа для взрослых, 2 кружка рукоделия, детско-юношеский хор, клуб любителей
      истории отечества, православный киноклуб. Регулярно совершаются паломнические
      поездки. Учащиеся приобщаются к культурному наследию нашего Отечества, изучают
      жизнь своих предков и подвиг Новомучеников и Исповедников одинцовской земли.</span></p>
  <h2><b>I.<span> Дошкольная ступень воскресной школы</span></b></h2>
  <p>
    <span>
      Дети в младшую группу набираются с 3,5 лет. В этом отделении действует 3 группы.
      Каждый педагог ведет свою группу на протяжении трех лет. Малыши приобщаются к
      Храму через игру, рисование, сказки, т.е. те доступные для них средства, через
      которые малышам можно донести: Бог совсем рядом, Он всегда рядом с тобой, Бог
      создал для тебя этот прекрасный мир, в котором так здорово жить, любить маму,
      папу, не обижать других. На занятия малыши приходят вместе со своими родителями,
      ведь в этом возрасте родители – самые важные, главные люди для своих детей.
      Именно через родителей, через семью ребенок впитывает чувства, отношения,
      впечатления – то, что в дальнейшем станет основой его мировоззрения.</span></p>
  <p>
    <span>
      Учебная программа строится по программе «Добрый мир» (православная культура для
      малышей).Все занятия для дошкольников дополнены авторскими тематическими уроками
      рисования, которые проводит опытный педагог дошкольник с 40-летним стажем.</span></p>
  <h2><b><span>II. Средняя ступень Воскресной школы</span></b></h2>
  <p>
    <span>
      На этой ступени занимаются ребята с 7 до 13 лет. В этом отделении действует 4
      группы. В этом возрасте основным занятием детей является учеба в школе, ребята
      стремятся к освоению новых знаний, в Воскресную школу они приходят с родителями.
      На занятиях дети узнают основные понятия о храме и поведении в нем,
      Богослужении, Священном Писании, церковных праздниках, начинают открывать для
      себя удивительный церковнославянский язык, погружаются в удивительную атмосферу
      древних повествований.</span></p>
  <p>
    <span>
      Занятия на данной ступени ведутся по учебно-методической программе «Вертоград».</span></p>
  <p>
    <span>
      С этого возраста ребята начинаютзаниматься в театральном кружке готовить
      спектакли на такие праздники как Рождество Христово, Благовещение, Пасха, День
      славянской письменности, Деньнародного единства, День матери, День Победы.</span></p>
  <p>
    <span>
      Каждый год на праздники Богоявления и в Светлую Пасхальную неделю воспитанники
      воскресной школы посещают отделение Одинцовской ЦРБ. Ребята поют песнопения,
      раздают духовную литературу и подарки, неся Свет Христов, тепло своей души
      идобро другим людям.</span></p>
  <p>
    <span>
      Наиболее достойные ученики к празднику Рождества Христова получают благословение
      на помощь в Алтаре Георгиевского Собора г. Одинцово.</span></p>
  <p> </p>
  <h2>
    <b>
      <span>III.</span> Старшая ступень воскресной школы для детей</b></h2>
  <p>
    <span>
      В этом отделении действует 2 группы, девочки и мальчики занимаются отдельно.
      Ребята в подростковом возрасте посещают беседы со священником. Воспитанники
      обсуждают Евангельские повествования, говорят на нравственные темы, затрагивают
      волнующие школьников общественные и личные проблемы, смотрят и обсуждают
      различные фильмы. Задачей священника является передача своего опыта и
      актуализация для ребят тех знаний, которые дети получили на предыдущих ступенях.
      В этом возрасте подростки перепроверяют на личном опыте и определяют жизненные
      приоритеты для будущей жизни.</span></p>
  <p> </p>
  <h2>
    <b>
      <span>Детские кружки
        при воскресной школе</span></b></h2>
  <p>1.
    <span>
      Детско-юношеский хор. Многие воспитанники воскресной школы поют на регулярных
      «детских» Литургиях. Службы проходят в Иоанно-Предтеченским приделе, на нижнем
      ярусе Собора, где и находятся помещения Воскресной школы. Для участия в
      богослужении и концертах, посвященных значимым для православной культуры
      праздникам, ребята регулярно участвуют в хоровых спевках и изучают
      сольфеджио.Действуют две подготовительные группы для хора: «Кнопочки» и
      «Звездочки».</span></p>
  <p> </p>
  <p>2.
    <span>
      Кружок гитары. Воспитанники воскресной школы готовят гитарные выступления для
      внутренних концертов в воскресной школе.</span></p>
  <p> </p>
  <p>3. <span> Кружок народного творчества (работает детское и взрослое отделение).</span></p>
  <p>
    <span>На Рождество, на Вербное воскресение и на
      праздник Святой Троицы силами кружка народного творчества проводятся ярмарки.
      Желающим передать свои работы можно позвонить: 8-916-619-77-94 Ирина.</span></p>
  <p>4.
    <span>
      Кружок журналистики. Ребята готовят выпуски приходской газеты «Росток».</span></p>
  <p> </p>
  <p>5.
    <span>
      Клуб любителей истории отечества</span></p>
  <p>
    <span>
      Совершаются регулярные паломнические поездки с профессиональным экскурсоводом,
      участником приходского клуба. Регулярно совершаются обзорные экскурсии по
      Георгиевскому Собору. Все желающие могут присоединиться к бесплатным пешеходным
      тематическим экскурсиям по Москве. О ближайших мероприятиях можно узнать по
      телефону: 8-916-906-92-00 Ольга.</span></p>
  <p>6.
    <span>
      Молодежный киноклуб</span></p>
  <p> </p>
  <p>
    <span>При храме действует
      православный молодежный киноклуб, узнать о ближайшем кинопросмотре можно
      позвонив по телефону: 8-926-852-00-94 Кирилл.</span></p>
  <p> </p>
  <h2>
    <b>
      <span>Взрослая
        воскресная школа</span></b></h2>
  <p>
    <span>Действует 2 взрослые
      группы: общеознакомительная и с углубленным изучением. Занятия проходят по
      воскресениям с 12.00.</span></p>
  <p> </p>
  <p>
    <span>
      На занятиях учащиеся познают основы христианской веры, могут задать вопрос
      священнику на волнующую их тему.Большинство учащихся взрослой воскресной несут
      различные послушания при храме.Желающие могут заниматься в кружке народного
      творчества, помогать убирать и благоукрашать храм. Многие участвуют в
      деятельности клуба любителей истории Отечества, приобщаясь к духовному и
      культурному наследию нашей Родины. Для взрослых действует кружок златошвейного
      шитья. </span></p>
  <p>
    <b>
      <span>Как начать
        ходить в воскресную школу?</span></b></h2>
    <p>
      <span>
        Воскресная школа ждет всех – и маленьких, и больших – в свои стены. Наши двери
        открыты!</span></p>
    <p>
      <span>Принятие учащегося
        происходит на основе письменного прошения учащегося</span><span> на
        имя директора (если это взрослые группы), его родителя или опекуна (если это
        детские группы).</span></p>
    <p>
      <span>
        В детскую Воскресную школу принимаются дети с 3,5 лет, запись совершается в
        июле-сентябре за свечным ящиком Георгиевского Собора. Телефон для справок:
        8-916-983-67-48 Надежда.</span></p>
    <p>
      <span>
        Во взрослую Воскресную школу может записаться любой человек в течении всего
        года. Принимаются люди желающие больше узнать оСвященном Писании, богослужении и
        православном вероучении. Узнать текущее расписание можно позвонив по телефону:
        8-903-007-43-25 или написав на адрес электронной почты</span>:
      <a href="mailto:mromanova991@gmail.comcomu">
        <span>
          mromanova991@gmail.com</span></a><span>(Мария).</span></p>
    <p> </p>
    <h2>
      <b><span>Информация о воскресной школе</span></b></h2>
    <p>
      <span>Страничка в инстаграмм: </span>
      <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.instagram.com%2Fodisobor%2F&amp;h=ATNqoYSfpi2wxAS1Mje3sTzEwjObkHi1LPMyK3v3QSjXhMOIa8vC0njq_Y8MPu7xyhIxitZJ1roDcL73LqEFrTYAAzZLk8HqQeI6WQ9u7IOSPYuHhKS-RdsWwIgci3uSI86UDCeC6HxLEQ">
        https://www.instagram.com/odisobor/</a><b><span></span></b></p>
    <p>
      <span>
        О деятельности воскресной школы можно узнать на странице Георгиевского Собора в
        социальной сети вконтакте:</span><a href="https://vk.com/club15152226">https://vk.com/club15152226</a><span></span></p>
    <p>
      <span>
        Текущие расписание и объявления можно найти по ссылке:</span>
      <a href="https://vk.com/album-15152226_245907027">https://vk.com/album-15152226_245907027</a></p>
</div>